<a href="https://colab.research.google.com/github/khemii/learn-python/blob/main/1Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print("Hello\nWorld") เว้นบรรทัด
#int จำนวนเต็ม
#float ทศนิยม
#string ตัวอักษร: "Hello"
#type() ตรวจสอบชนิดข้อมูล

#output
print(type("15 + 2")) #string
print(type(15 + 2)) #int
print(type(2.22 * 8)) #float
print("15" + "2") #string เชื่อมกันได้
print("15" * 2) #ทำซ้ำ str

In [ ]:
#input
a = input("What is your name: ")
print(type(a))

#age = int(input("How old are you?")) -> int
a = int(input())
b = int(input())
print(a+b)

In [ ]:
a = "Hello"
print("%s" % a) #เอาตัวแปร a มาแสดงแทนที่ str
print("%s, %s %s" % ("Hello", "Python", "is easy")) #เอา str มาแสดงแทนที่ %s
a = 10
print("a is %d" % a) #เอาตัวแปร a มาแสดงแทนที่ %d(จำนวนเต็ม)
b = 5
print("b is %.2f" % b) #เอาตัวแปร b มาแสดงแทน .2f 2 ตน.

a = 5
b = 10
print("a = %d and b = %d" % (a,b))

Hello
Hello, Python is easy
a is 10
b is 5.00
a = 5 and b = 10

In [ ]:
#Homework
a = int(input())
b = int(input())
c = int(input())
print("%d %d %d" % (a,b,c))

11
22
38
11 22 38

In [ ]:
#โปรแกรมคิดราคาขาย
cost = float(input("Cost: "))
profit = int(input("Profit: "))
cal = (cost/(100-profit)) * 100
print("You should sell %.2f baht" % cal)

Cost: 50
Profit: 10
You should sell 55.56 baht

In [ ]:
#practise unit 4

a = 25
b = 1253.59845
c = "python"
print("Hello %s programming" % c)
print("a = %d" % a)
print("b = %d" %b)
print("%s is easy" %c)
print("%d" %(b-100))
print("b = %f" %b)
print("a = %f" %a)
print("b = %.2f" %b)
print("%d %.2f" %(a,b))
print("%.3f" %(b-a))

Hello python programming
a = 25
b = 1253
python is easy
1153
b = 1253.598450
a = 25.000000
b = 1253.60
25 1253.60
1228.598

In [ ]:
print("Hello World")
print("\"I don't have a car\"")
print("You got a new job!?","That's so exciting")
print("a\nan\nant")
print("""a
an
ant""")
print("Just because something\nthinks differently from you,\ndoes that mean it's not thinking?")

Hello World
"I don't have a car"
You got a new job!? That's so exciting
a
an
ant
a
an
ant
Just because something
thinks differently from you,
does that mean it's not thinking?

In [ ]:
a = 12.5
a

12.5

In [ ]:
a = 2
b = 3
print("%d x %d = %d" %(a,b,(a * b)))

2 x 3 = 6

In [ ]:
a = 2.4
b = 2.5
print("%.1f + %.1f = %.4f" %(a,b,(a + b)))

2.4 + 2.5 = 4.9000

In [ ]:
a = 5.00
b = 2.00
print("%.2f - %.2f = %.4f" %(a, b, (a-b)))

5.00 - 2.00 = 3.0000

In [ ]:
birthday = 25
print("ฉันเกิดวันที่ %d" %birthday)

ฉันเกิดวันที่ 25

In [ ]:
a = 5
b = 100
print("%d เท่าของ %d มีค่าเท่ากับ %d" %(a,b,(a*b)))

5 เท่าของ 100 มีค่าเท่ากับ 500

In [ ]:
print("Good morning")

Good morning

In [ ]:
print("*\n**\n***")

*
**
***

In [ ]:
num1 = int(input("ตัวเลขที่ 1: "))
num2 = int(input("ตัวเลขที่ 2: "))
result = num1 + num2
print("ผลรวมของสองตัวเลข= %d" %result)

ตัวเลขที่ 1: 99
ตัวเลขที่ 2: 65
ผลรวมของสองตัวเลข= 164

In [ ]:
x = input()
y = int(input())
print(x*y)

*
3
***

In [ ]:
a = int(input())
b = int(input())
c = int(input())
avg = (a+b+c)/3
print("ค่าเฉลี่ย= %.2f" %avg)

56
23
78
ค่าเฉลี่ย= 52.33

In [ ]:
weight = int(input("น้ำหนัก= "))
height = int(input("ส่วนสูง= "))
print("ข้อมูลนำ้หนักและส่วนสูง: %d %d" %(weight,height))

น้ำหนัก= 45
ส่วนสูง= 162
ข้อมูลนำ้หนักและส่วนสูง: 45 162

In [ ]:
text = input()
print("You Press %s" %text)

A
You Press A

In [ ]:
m = int(input())
n = int(input())
result = m-n
print(result)

74
24
50

In [ ]:
name = input("Enter your first name: ")
lname = input("Enter your last name: ")
age = int(input("Enter your age: "))
print("Hello %s %s\nYou're %d years old" %(name,lname,age))

Enter your first name: Selena
Enter your last name: Gomez
Enter your age: 20
Hello Selena Gomez
You're 20 years old

In [ ]:
#คิดราคาสินค้า
price = float(input("Price: "))
discount = int(input("Discount(%): "))
discount_baht = discount/100*price
payment = price - discount_baht
print("Discount(Baht): %d" %discount_baht)
print("Payment(Baht): %d" %payment)

Price: 250
Discount(%): 20
Discount(Baht): 50
Payment(Baht): 200

In [ ]:
'''practise unit 5
c = float(input("Temperature(celcius): "))
print("%f %f" %((9/5)*c + 32,c +273.15))'''

c = float(input())
f = 9/5 * c + 32
k = c + 273.15
print("%f %f" %(f,k))

25
77.000000 298.150000

In [ ]:
base = float(input("ค่าฐานสามเหลี่ยม: "))
height = float(input("ค่าความสูงสามเหลี่ยม: "))
#print("%f" %(1/2 * base * height))
area = 1/2 * base * height
print("%f" %area)

ค่าฐานสามเหลี่ยม: 0.25
ค่าความสูงสามเหลี่ยม: 5
0.625000

In [ ]:
#practice unit 6
a = int(input())
b = int(input())
add = a+b
concat = str(a)+str(b)
print("Addition: %d" %(a+b))
print("Concatenation: %s" %concat)

11
18
Addition: 29
Concatenation: 1118

In [ ]:
midterm = float(input())
final = float(input())
total = midterm + final
avg = total/2
print("Total: %.1f" %total)
print("Average: %.1f" %avg)

50.5
31.5
Total: 82.0
Average: 41.0

In [ ]:
width = float(input("Enter width: "))
length = float(input("Enter length: "))
depth = float(input("Enter depth: "))
area = width * length * depth
time = (area * 15)/60
print("Time to fill a pool is %.2f minutes." %time)

Enter width: 18.5
Enter length: 38.75
Enter depth: 1.35
Time to fill a pool is 241.95 minutes

In [ ]:
n = int(input())
str1 = input()
str2 = input()
text1 = n % 2 #เลขคี่ str1 จะหายไปตัวนึง ต้องหารเอาเศษเพราะเลขคี่หาร 2 ไม่ลงตัวเหลือเศษ 1 จะแสดงstr1 1 ตัว
result = (str1+str2) * (n // 2) + (str1 * text1) # n//2 แสดงสลับกันได้ปกติถ้าเป็นเลขคู่

print(result)

5
$
#
$#$#$

In [ ]:
print("First fraction: ")
a = int(input(">>Enter a numerator a: "))
b = int(input(">>Enter a denominator b: "))

print("Second fraction: ")
c = int(input(">>Enter a numerator c: "))
d = int(input(">>Enter a denominator d: "))

numerator = (a * d) + (b * c)
denominator = (b * d)

print("Summation of the two fractions is %d/%d" %(numerator,denominator))

First fraction:
>>Enter a numerator a: 3
>>Enter a denominator b: 8
Second fraction:
>>Enter a numerator c: 9
>>Enter a denominator d: 12
Summation of the two fractions is 108/96

In [ ]:
s1 = int(input("Enter your exercise time1: "))
s2 = int(input("Enter your exercise time2: "))
total_s = s1 + s2
minutes = total_s // 60
hours = minutes // 60
seconds = total_s % 60
print("It is %d hours %d minutes and %d seconds" %(hours,minutes,seconds))

'''
hour = total_s // 3600
minute = (total_s % 3600) // 60
second = (total_s % 3600) % 60
'''

Enter your exercise time1: 345
Enter your exercise time2: 440
It is 0 hours 13 minutes and 5 seconds

'\nhour = total_s // 3600\nminute = (total_s % 3600) // 60\nsecond = (total_s % 3600) % 60\n'

In [ ]:
import math
print(math.sqrt(16))
print(math.ceil(5.4)) #ปัดขึ้น
print(math.floor(8.99)) #แสดงแค่เลขจำนวนเต็ม
#y = math.sqrt(16 - 4 * x) สมการคณิต

4.0
6
8

In [ ]:
#practice unit 8
abs(15-50)
pow(4,2)
math.pow(3,3)
pow(3,3)

import math
a = int(input())
result = abs(a)
print(result)

-15
15

In [ ]:
b = float(input())
result = math.ceil(abs(b))
print(result)

-15.6
16

In [ ]:
r = int(input("Enter a radius: "))
area = math.pi * math.pow(r,2) #พายอาร์^2
circumference = 2 * math.pi * r #2พายอาร์
print("Area of a circle with radius %d is %.2f" %(r,area))
print("Circumference of a circle with radius %d is %.2f" %(r,circumference))

Enter a radius: 3
Area of a circle with radius 3 is 28.27
Circumference of a circle with radius 3 is 18.85

In [ ]:
print(15 == 2)
print(not(15 == 2))
print(bool(200)) #ไม่ใช่ 0,"" จะจริง
print(bool(" ")) #space = true

False
True
True
True

In [ ]:
#practice unit 9

a = int(input("a = "))
b = int(input("b = "))
temp = a #ตัวแปร temp ไว้พักชัวคราว
a = b
b = temp
print(a)
print(b)

10
20
20
10

# ส่วนใหม่

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# if-else
n = int(input())
if n % 2 == 0:
  print("%d is even" % n)
else:                     #no condition
  print("%d is odd" % n)

55
55 is odd

In [ ]:
# if-elif(ต้องใส่เงื่อนไข)
n = int(input())
if n % 2 == 0:
  print("%d is even" % n)
elif n % 2 != 0:
  print("%d is odd" % n)

In [ ]:
#Nested if: ซ้อนกันเยอะๆ

salary = int(input())
if salary >= 15000:
  if salary < 70000:
    print("Silver card")
  elif salary < 100000:
    print("Gold card")
  elif salary >= 100000:
    print("Platinum card")
else:
  print("No")

12000
No

In [ ]:
size = int(input())
if size <= 34:
  print("XS")
elif size <= 36:
  print("S")
elif size <= 38:
  print("M")
elif size <= 40:
  print("L")
else:
  print("XL")

33
XS

In [ ]:
''' 4 seasons=
winter(month 1,2,3)
spring(month 4,5,6)
summer(month 7,8,9)
fall(month 10,11,12)
ฤดูเปลี่ยนหลังวันที่ 21 ของเดือนที่หาร 3 ลงตัว เขียนโปรแกรมเพื่อรับเดือนและวันที่ outputแสดงฤดู
'''

In [ ]:
month = int(input())
date = int(input())

if month % 3 == 0: #หารลงตัวเศษเป็น 0
  if date < 21:
    if month == 1 or month == 2 or month == 3:
      print("Winter")
    elif month == 4 or month == 5 or month == 6:
      print("Spring")
    elif month == 7 or month == 8 or month == 9:
      print("Summer")
    elif month == 10 or month == 11 or month == 12:
      print("Fall")
  else:         # date >= 21
    if month == 1 or month == 2 or month == 3:
      print("Spring")
    elif month == 4 or month == 5 or month == 6:
      print("Summer")
    elif month == 7 or month == 8 or month == 9:
      print("Fall")
    elif month == 10 or month == 11 or month == 12:
      print("Winter")
else:     # month หาร 3 ไม่ลงตัว
  if month == 1 or month == 2 or month == 3:
      print("Winter")
  elif month == 4 or month == 5 or month == 6:
      print("Spring")
  elif month == 7 or month == 8 or month == 9:
      print("Summer")
  elif month == 10 or month == 11 or month == 12:
      print("Fall")

1
21
Winter